<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ссылки</title>


    <style>
        a {
            display: block;
            margin: 10px;
        }
    </style>
</head>
<body>

<a href="/main/main.html">Главная</a>
<a href="/account-settings/account-settings.html">Меню авторизованого пользователя</a>
<a href="/account-questionnaire/account-questionnaire.html">Личный кабинет. Анткета</a>
<a href="/account-vacancy/account-vacancy.html">Мои вакансии</a>
<a href="/vacancy-add/vacancy-add.html">Добавление вакансии</a>
<a href="/account-response/account-response.html">Отклики</a>
<a href="/account-subscribe/account-subscribe.html">История подписок</a>
<a href="/rate-specialist/rate-specialist.html">Специалисту тарифы</a>
<a href="/rate-employer/rate-employer.html">Тарифы работодателю</a>
<a href="/favourite-vacancy/favourite-vacancy.html">Избранные вакансии</a>
<a href="/favourite-specialist/favourite-specialist.html">Избранные специалисты</a>
<a href="/search-vacancy/search-vacancy.html">Вакансии список</a>
<a href="/vacancy-page/vacancy-page.html">Страница вакансии</a>
<a href="/vacancy-map/vacancy-map.html">Вакансии. Карта</a>
<a href="/search-specialist/search-specialist.html">Каталог специалистов</a>
<a href="/specialist-map/specialist-map.html">Специалисты на карте</a>
<a href="/specialist-page/specialist-page.html">Страница специалиста</a>
<a href="/posts/posts.html">Статьи</a>
<a href="/post-page/post-page.html">Статья</a>
<a href="/patient/patient.html">Пациенту</a>
<a href="/contact-us/contact-us.html">Контакты</a>
<a href="/404/404.html">404</a>
<a href="/terms/terms.html">Политика конфиденциальности</a>
<a href="/new-popups/new-popups.html">Новые popup</a>




</body>
</html>