<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
    <link rel="stylesheet" href="../css/ui.css">
    <link rel="stylesheet" href="../css/ui-responsive.css">
    <link rel="stylesheet" href="../css/new-popups.css">
    <link rel="stylesheet" href="../css/new-popups-responsive.css">
</head>
<body>




<div class="popup-wrapper popup-wrapper--greeting">
    <div class="popup greeting">
        <svg class="popup__close greeting__close" width="31" height="31" viewBox="0 0 31 31" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect x="0.999268" y="28.6875" width="39.3005" height="2.96611" rx="1"
                  transform="rotate(-45 0.999268 28.6875)" fill="#F35E5E"/>
            <rect width="39.3005" height="2.96611" rx="1"
                  transform="matrix(0.706942 0.707271 -0.706942 0.707271 2.97583 0.998047)" fill="#F35E5E"/>
        </svg>
        <div class="popup__header greeting__header">Добрый день, <span>Ольга Владимировна</span></div>
        <div class="greeting__info">
            Мы рады, что Вы с нами! <br>
            До конца оплаченного периода по тарифу «VIP» осталось 2 дня. <br>
            Продлить оплату вашего тарифа или сменить тариф  <br>Вы можете по ссылке через личный кабинет.
        </div>
        <button class="button button--save">перейти в личный кабинет</button>
       <div class="greeting__respect">
           С уважением, Администрация группы сайтов
           <a href="">www.медсестранадом.рф</a>
           <a href="">www.уколы-на-дому.рф</a>
           <a href="">www.капельницы-на-дому.рф</a>
       </div>
    </div>
</div>



<div class="popup-wrapper popup-wrapper--thanks">
    <div class="popup thanks">
        <svg class="popup__close thanks__close" width="31" height="31" viewBox="0 0 31 31" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect x="0.999268" y="28.6875" width="39.3005" height="2.96611" rx="1"
                  transform="rotate(-45 0.999268 28.6875)" fill="#F35E5E"/>
            <rect width="39.3005" height="2.96611" rx="1"
                  transform="matrix(0.706942 0.707271 -0.706942 0.707271 2.97583 0.998047)" fill="#F35E5E"/>
        </svg>
        <div class="popup__header thanks__header">Спасибо за оплату тарифа <span>«VIP»</span></div>
        <div class="thanks__info">
            Ваша анкета активна на группе сайтов:
            <a href=""> www.медсестранадом.рф </a>
            <a href="">www.уколы-на-дому.рф</a>
            <a href=""> www.капельницы-на-дому.рф</a>
            Вы всегда можете оплатить ваш тариф или сменить <br> тарифный план в вашем личном кабинете.
        </div>
        <button class="button button--save">перейти в личный кабинет</button>
        <div class="thanks__respect">
            С уважением, Администрация группы сайтов
            <a href="">www.медсестранадом.рф</a>
            <a href="">www.уколы-на-дому.рф</a>
            <a href="">www.капельницы-на-дому.рф</a>
        </div>
    </div>
</div>




<div class="popup-wrapper popup-wrapper--birthday">
    <div class="popup birthday">
        <img src="../img/birthday-bg.png" alt="" class="birthday__img">
        <img src="../img/birthday-bg--small.png" alt="" class="birthday__img birthday__img--small">
        <svg class="popup__close birthday__close" width="31" height="31" viewBox="0 0 31 31" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect x="0.999268" y="28.6875" width="39.3005" height="2.96611" rx="1"
                  transform="rotate(-45 0.999268 28.6875)" fill="#ffffff"/>
            <rect width="39.3005" height="2.96611" rx="1"
                  transform="matrix(0.706942 0.707271 -0.706942 0.707271 2.97583 0.998047)" fill="#ffffff"/>
        </svg>
        <div class="popup__header birthday__header">Уважаемая, <br><span>Ольга&nbsp;Владимировна</span>!</div>
        <div class="birthday__info">
            Поздравляем Вас с Днём Рождения. <br>
            Желаем счастья, здоровья <br> и новых достижений!
        </div>
        <div class="birthday__respect">
            С уважением, Администрация группы сайтов
            <a href="">www.медсестранадом.рф</a>
            <a href="">www.уколы-на-дому.рф</a>
            <a href="">www.капельницы-на-дому.рф</a>
        </div>
    </div>
</div>




<div class="popup-wrapper popup-wrapper--christmas">
    <div class="popup christmas">
        <div class="christmas__img-wrapper">
            <img src="../img/christmas.png" alt="" class="christmas__img">
            <!--<img src="../img/christmas-small.png" alt="" class="christmas__img christmas__img&#45;&#45;small">-->
            <img src="../img/christmas-small--full.png" alt="" class="christmas__img christmas__img--small">
        </div>
        <svg class="popup__close christmas__close" width="31" height="31" viewBox="0 0 31 31" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect x="0.999268" y="28.6875" width="39.3005" height="2.96611" rx="1"
                  transform="rotate(-45 0.999268 28.6875)" fill="#ffffff"/>
            <rect width="39.3005" height="2.96611" rx="1"
                  transform="matrix(0.706942 0.707271 -0.706942 0.707271 2.97583 0.998047)" fill="#ffffff"/>
        </svg>
        <div class="popup__header christmas__header">Здравствуйте, друзья!</div>
        <div class="christmas__info">
            Поздравляем вас с наступающими праздниками –<br>
            Новым годом и Рождеством!<br>
            Пусть сбудутся все ваши мечты.<br>
            Надеемся на сотрудничество в новом году.
        </div>
        <div class="christmas__respect">
            С уважением, Администрация группы сайтов
            <a href="">www.медсестранадом.рф</a>
            <a href="">www.уколы-на-дому.рф</a>
            <a href="">www.капельницы-на-дому.рф</a>
        </div>
    </div>
</div>





<div class="popup-wrapper popup-wrapper--victory">
    <div class="popup victory">
        <div class="victory__img-wrapper">
            <img src="../img/victory-bg.png" alt="" class="victory__img">
            <!--<img src="../img/christmas-small.png" alt="" class="victory__img victory__img&#45;&#45;small">-->
            <img src="../img/victory-bg-small--full.png" alt="" class="victory__img victory__img--small">
        </div>
        <svg class="popup__close victory__close" width="31" height="31" viewBox="0 0 31 31" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect x="0.999268" y="28.6875" width="39.3005" height="2.96611" rx="1"
                  transform="rotate(-45 0.999268 28.6875)" fill="#ffffff"/>
            <rect width="39.3005" height="2.96611" rx="1"
                  transform="matrix(0.706942 0.707271 -0.706942 0.707271 2.97583 0.998047)" fill="#ffffff"/>
        </svg>
        <div class="popup__header victory__header">Здравствуйте, друзья!</div>
        <div class="victory__info">
            Поздравляем вас с праздником<br>
            Великой Победы!<br>
            Мы всегда будем помнить подвиг<br>
            наших дедов, отстоявших мир на Земле.
        </div>
        <div class="victory__respect">
            С уважением, Администрация группы сайтов
            <a href="">www.медсестранадом.рф</a>
            <a href="">www.уколы-на-дому.рф</a>
            <a href="">www.капельницы-на-дому.рф</a>
        </div>
    </div>
</div>





<div class="popup-wrapper popup-wrapper--women">
    <div class="popup women">
        <div class="women__img-wrapper">
            <img src="../img/women-bg.png" alt="" class="women__img">
            <!--<img src="../img/christmas-small.png" alt="" class="victory__img victory__img&#45;&#45;small">-->
            <img src="../img/women-bg-small--full.png" alt="" class="women__img women__img--small">
        </div>
        <svg class="popup__close women__close" width="31" height="31" viewBox="0 0 31 31" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect x="0.999268" y="28.6875" width="39.3005" height="2.96611" rx="1"
                  transform="rotate(-45 0.999268 28.6875)" fill="#ffffff"/>
            <rect width="39.3005" height="2.96611" rx="1"
                  transform="matrix(0.706942 0.707271 -0.706942 0.707271 2.97583 0.998047)" fill="#ffffff"/>
        </svg>
        <div class="popup__header women__header">Милые и замечательные дамы!</div>
        <div class="women__info">
            Поздравляем вас с праздником весны, <br>
            с Международным женским днём 8 марта. <br>
            Желаем вам находить во всём прекрасное, <br>
            чувствовать любовь и нежность близких, <br>
            озарять этот мир своей красотой, наполнять <br>
            дома уютом, добротой и заботой.
        </div>
        <div class="women__respect">
            С уважением, Администрация группы сайтов
            <a href="">www.медсестранадом.рф</a>
            <a href="">www.уколы-на-дому.рф</a>
            <a href="">www.капельницы-на-дому.рф</a>
        </div>
    </div>
</div>








<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../slick/slick.min.js"></script>
<script src="new-popups.js"></script>
</body>
</html>